@import url(http://weloveiconfonts.com/api/?family=brandico);
.container {
  font-size: 62.5%;
  background-color: #FFFFFF;
  margin: 3%; }

.header {
  overflow: hidden;
  border-bottom: 1px solid #BBBBBB; }

.logo {
  float: left;
  font-size: 2em;
  font-style: italic; }
  .logo img {
    width: 50%;
    height: 100px; }

.socialMedia {
  float: right;
  border: 1px solid #E0E0E0;
  background-color: #F3F3F3; }
  .socialMedia p {
    padding: 0em 1em 1em 3em;
    margin: 0;
    font-size: 1.6em; }
  .socialMedia a {
    text-decoration: none; }

p.first {
  margin-top: 1em; }

.mainImage {
  margin-top: 20px; }
  .mainImage img {
    width: 100%;
    height: 250px; }

.latestNews {
  border: 1px solid gray;
  margin-bottom: 59px;
  font-size: 1.4em;
  margin-right: 21px; }

.updates {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em; }

.tile {
  width: 30%;
  height: 300px;
  display: inline-block;
  border: 1px solid gray;
  vertical-align: top;
  margin-right: 15px;
  margin-left: 9px;
  padding: 1em;
  font-size: 1em; }

.special {
  border: 1px solid gray; }

.latestNews {
  margin-left: 0; }

.map {
  margin-right: 0;
  border: 1px solid gray; }
  .map h2 {
    padding-left: 32px; }
  .map hr {
    color: #E1E3DF;
    width: 92%; }
  .map .google {
    position: relative;
    top: 3px;
    left: 13px; }
  .map h3 {
    position: relative;
    left: 70px; }
  .map ul {
    position: relative;
    font-size: 1em;
    list-style: none;
    top: 1px;
    word-spacing: 7px;
    padding-bottom: 13px; }
  .map li {
    display: inline;
    text-decoration: none; }
    .map li a {
      text-decoration: none;
      color: red; }

.content {
  float: left;
  width: 70%; }

.tabs {
  border-bottom: 1px solid black; }
  .tabs div {
    display: inline-block;
    font-size: 1.6em;
    margin-right: 20px;
    padding: 10px; }

.hidden {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 0 0 15px; }

.borderFix {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid white; }

.foodPhotos {
  float: right;
  width: 25%; }
