.mainContentArea {
  margin: 2%; }
  .mainContentArea .header {
    overflow: hidden;
    border-bottom: 1px solid black; }
    .mainContentArea .header .logo {
      float: left; }
    .mainContentArea .header .socialMedia {
      float: right; }
  .mainContentArea .mainImage {
    margin-top: 10px; }
  .mainContentArea .updates div {
    display: inline-block;
    width: 30%; }
  .mainContentArea .content {
    float: left;
    width: 70%; }
  .mainContentArea .foodPhotos {
    float: right;
    width: 25%; }
