.container{
}

.mainContentArea {
	margin: 2%;

	.header{
		overflow: hidden;
		border-bottom: 1px solid black;
		.logo{
			float: left;
		}
		.socialMedia{
			float: right;
		}
	}
	.mainImage{
		margin-top: 10px;
	}

	.updates div{
		display: inline-block;
		width: 30%;
	}

	.content{
		float: left;
		width: 70%;
	}

	.foodPhotos{
		float: right;
		width: 25%;
	}
}

